body {
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkgrey ;
    background-color: black
  }
.Berghain-game {
    text-transform: uppercase;
    font-size: 3.7em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
  text-transform: uppercase;
  font-size: 2em;
  
}
h3 {
    font-size: 2.5em;
    margin-bottom: 5px;
    
    
}
p {

}
.logo-berghain {
    width: 20vh;
    
}
  .start-button {
    font-size: 2em;
    background-image: none;
    color: rgb(178, 177, 177);
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .start-button:hover {
    cursor: pointer;
  }
  .restart-button {
    font-size: 2em;
    background-image: none;
    color: rgb(178, 177, 177);
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .restart-button:hover {
    cursor: pointer;
  }

  .berghain-not {
    width: 40vw;
  }
  
canvas {
    
}
.color-overlay {
  background-image: none;
  width: 1200px;
  height: 600px;
  opacity: 1;
  text-align: center;
  color: #fff;
}
#footer {
  font-size: 12px;
  /*margin-top: 180px; */
  
}